{% extends "layout.html" %}

{% block title %}Inicio{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Lista de Colaboradores</h2>
    <a href="/create" class="btn btn-primary">Nuevo Registro</a>
</div>

<div class="card shadow-sm">
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th><th>Nombre</th><th>Apellido</th><th>Ciudad</th><th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for colab in colaboradores %}
                <tr>
                    <td>{{ colab.id }}</td>
                    <td>{{ colab.nombre }}</td>
                    <td>{{ colab.apellido }}</td>
                    <td>{{ colab.ciudad }}</td>
                    <td>
                        <a href="/edit/{{ colab.id }}" class="btn btn-sm btn-warning">Editar</a>
                        <a href="/delete/{{ colab.id }}" class="btn btn-sm btn-danger"">Eliminar</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" class="text-center">No hay datos en SQL Server.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}